body {
    background-color: rgb(177, 245, 245);
  }
  
  h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid black;
    background-color: rgb(236, 236, 236);
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
  
  h2 {
    border-style: double;
    border-width: thick;
  }
  
  img {
    max-width: 85%;
    aspect-ratio: 900 / 600;
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  .column {
    float: left;
    width: 33%;
    padding: 0 10px;
  }
  
  .row {margin: 0 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    button{
      position: relative;
      bottom: 7%;
      right: 5%;
      width: auto;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }


  button{
    margin-bottom: 0%;
    margin-left: 90%;
    transition-duration: 0.4s;
    font-family: Cambria Math;
    font-size:medium;
  }

  button:hover {
    background-color: #5dc361; /* Green */
    color: white;
  }